body {
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 15px;
}

ul {
    list-style-type: none; /* Убирает точки из списка */
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}

a {
    color: black;
    text-decoration: none; /* Убирает подчеркивание */
    font-size: 18px;
}

div {
    margin: 30px 50px 50px 0px;
    padding: 20px 40px 0px 0px;
    border: 3px solid black;
    background-color: green;
}

nav {
    margin-bottom: 20px;
}

li:last-child { /* Последний элемент li не будет двигать маргджин */
    margin-right: 0px;
}

a:hover {  /* Обращение к псевдоклассу наведения */
    color: red;
}